<br>
<h2>
    Listado clientes
  </h2>
<div *ngIf="! clientes.length">No hay clientes por el momento</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">CIF</th>
        <th scope="col">Dirección</th>
        <th scope="col">Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.cif}}</td>
        <td>{{cliente.direccion}}</td>
        <td>{{cliente.grupo}}</td>
      </tr>
      
    </tbody>
  </table>
<!-- 
<h2>
    Listado clientes
  </h2>
  <div *ngIf="! clientes.length">No hay clientes por el momento</div>
  <div>
    <article *ngFor="let cliente of clientes">
      <span>{{cliente.nombre}}</span>
      <span>{{cliente.cif}}</span>
      <span>{{cliente.direccion}}</span>
      <span>{{cliente.grupo}}</span>
    </article>
  </div> -->



